@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
    /* cursor: none;  */
}

.companiesmarquee {
  animation: scroll 30s linear infinite;
}

@keyframes glowPing {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 30s linear infinite;
}

.marquee-reverse {
  animation: marquee-reverse 30s linear infinite;
}

.marquee:hover,
.marquee-reverse:hover {
  animation-play-state: paused;
}

@keyframes changewidth {
  from {
    width: 50px;
  }
  to {
    width: 110px;
  }
}


.animate-cta {
  animation: changewidth 2s infinite alternate;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}



/* /////// CustomCursor ///// */

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.1s ease;

  mix-blend-mode: difference; /* 🔥 THIS LINE */
}
.custom-cursor.hover {
  transform: translate(-50%, -50%) scale(2);
}

/* ///////// */



@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 1s ease-in-out infinite alternate;
}